<%= form_for(@cookbook, :html=>{:class=>"form-horizontal"})  do |f| %>
  <% if @cookbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cookbook.errors.count, "error") %> prohibited this cookbook from being saved:</h2>

      <ul>
      <% @cookbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <div class="field">
      <%= f.label :name, :class=>"control-label" %>
      <div class="controls">
        <%= f.text_field :name, :placeholder=>"Ashley the awesome" %>
      </div>
    </div>
    <div class="controls">
      <%= f.submit :class=>"btn btn-primary" %>
    </div>
  </div>
<% end %>
